@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base style */
body {
  color: #131316;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background: #fff;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
/* ############# */
/* NAV */
/* ############# */
.main-header {
  padding: 1.5rem 0;
}
/* .logo {
  width: 100rem;
} */
.hamburger {
  width: 40px;
  cursor: pointer;
}

.menu-desktop {
  display: none;
}

.menu-desktop a {
  text-transform: capitalize;
  margin-right: 1rem;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}
.menu-desktop a i,
.hero a i {
  margin-right: 10px;
}
.menu-desktop a:hover {
  color: var(--primary-color);
}

/* ############# */
/* HERO SECTION */
/* ############# */
.hero {
  padding: 2.5rem 0;
}
/* .hero .container {
  height: auto;
} */

.hero-text {
  margin-bottom: 1.5rem;
}

.hero-buttons {
  margin: 1rem 0;
}

.hero-buttons .btn {
  margin-bottom: 1rem;
}
.hero-buttons.flex {
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

/* ############# */
/* VIDEO SECTION */
/* ############# */
.video {
  padding: 1.5rem 0 3rem;
}
.video-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-heading {
  color: #fff;
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
  .main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: none;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .hero-content,
  .hero-text {
    max-width: 70%;
  }

  .hero .container {
    background: url("../images/hero-bg.png") no-repeat center bottom/contain;
    height: 550px;
  }

  .hero-buttons .btn {
    margin-right: 1rem;
  }
  .hero-buttons.flex {
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
  }

  .hero-mobile {
    display: none;
  }
}
