@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base style */
body {
  color: #131316;
  background: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
/* ############# */
/* NAV */
/* ############# */
.main-header {
  padding: 1.5rem 0;
}
/* .logo {
  width: 100rem;
} */
.hamburger {
  width: 40px;
  cursor: pointer;
}

.menu-desktop {
  display: none;
}

.menu-desktop a {
  text-transform: capitalize;
  margin-right: 1rem;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}
.menu-desktop a i,
.hero a i {
  margin-right: 10px;
}
.menu-desktop a:hover {
  color: var(--primary-color);
}

/* ############# */
/* HERO SECTION */
/* ############# */
.hero {
  padding: 3rem 0 2.5rem;
}
.hero-heading,
.hero-text {
  padding: 0 2rem;
}
.hero-content,
.hero-text {
  text-align: center;
}
.hero-text {
  margin-bottom: 1.5rem;
}

.hero-buttons {
  margin: 1rem 0;
}

.hero-buttons .btn {
  margin-bottom: 1rem;
}
.hero-buttons.flex {
  flex-direction: column;
  align-items: stretch;
}

.hero-mobile {
  margin-bottom: 2rem;
}

/* ############# */
/* VIDEO SECTION */
/* ############# */
.video {
  padding: 1.5rem 0 3rem;
}

.video-heading {
  margin-bottom: 1.5rem;
}
.video-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-preview {
  margin-bottom: 2rem;
}

/* ############# */
/* TESTIMONIALS */
/* ############# */

.testimonials {
  position: relative;
  bottom: 3rem;
  padding: 3rem 0;
}

.testimonials-heading {
  border-top: 1px dotted;
  padding-top: 1.5rem;
  text-align: left;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: start;
}
.card {
  background: #fafafa;
  color: #131316;
  border-radius: 16px;
  padding: 2rem 1.5rem;
}

.card .card-text {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1.25rem;
}

.card p:nth-child(2) {
  font-weight: 600;
}

/* ############# */
/* PRICING */
/* ############# */
.pricing-sub {
  color: #494a4d;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .text-xl {
    font-size: 3.5vw;
  }
  .text-lg {
    font-size: 2.5vw;
  }

  /* header */
  .main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: none;
  }

  .menu-desktop {
    display: inline-flex;
  }

  /* hero */
  .hero .container {
    background: url("../images/hero-bg.png") no-repeat center bottom/contain;
    height: 550px;
    margin-bottom: 2rem;
  }

  .hero-heading,
  .hero-text {
    padding: 0;
  }

  .hero-content,
  .hero-text {
    max-width: 70%;
    text-align: left;
  }

  .hero-buttons .btn {
    margin-right: 1rem;
  }
  .hero-buttons.flex {
    flex-direction: row;
    justify-content: flex-start;
  }

  .hero-mobile {
    display: none;
  }

  /* video */
  .video-heading {
    max-width: 600px;
    margin: 0 auto 1.5rem;
  }
  .video-content {
    align-items: center;
  }

  /* testimonials */
  .card .card-text {
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

  .card p:nth-child(2) {
    font-size: 1.125rem;
  }
}
