@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base style */
body {
  color: #131316;
  background: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  /* width: 100%; */
}
li {
  list-style: none;
}
/* ############# */
/* NAV */
/* ############# */
.main-header {
  padding: 1.5rem 0;
}
/* .logo {
  width: 100rem;
} */
.hamburger {
  width: 40px;
  cursor: pointer;
}

.menu-desktop {
  display: none;
}

.menu-desktop a {
  text-transform: capitalize;
  margin-right: 1rem;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}
.menu-desktop a i,
.hero a i {
  margin-right: 10px;
}
.menu-desktop a:hover {
  color: var(--primary-color);
}

/* ############# */
/* HERO SECTION */
/* ############# */
.hero {
  padding: 3rem 0 2.5rem;
}
.hero-heading,
.hero-text {
  padding: 0 2rem;
}
.hero-content,
.hero-text {
  text-align: center;
}
.hero-text {
  margin-bottom: 1.5rem;
}

.hero-buttons {
  margin: 1rem 0;
}

.hero-buttons .btn {
  margin-bottom: 1rem;
}
.hero-buttons.flex {
  flex-direction: column;
  align-items: stretch;
}

.hero-mobile {
  margin-bottom: 2rem;
  margin: 0 auto;
}

/* ############# */
/* VIDEO SECTION */
/* ############# */
.video {
  padding: 1.5rem 0 3rem;
}

.video-heading {
  margin-bottom: 1.5rem;
}
.video-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-preview {
  margin-bottom: 2rem;
}

/* ############# */
/* TESTIMONIALS */
/* ############# */

.testimonials {
  position: relative;
  bottom: 3rem;
  padding: 3rem 0;
}

.testimonials-heading {
  border-top: 1px dotted;
  padding-top: 1.5rem;
  text-align: left;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: start;
}

.card .card-text {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1.25rem;
}

.card p:nth-child(2) {
  font-weight: 600;
}

/* ############# */
/* PRICING */
/* ############# */
.pricing .bg-light {
  background: #dfdee2;
}
.pricing-subheading {
  color: #494a4d;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 350px;
  margin: 3rem auto;
  gap: 2rem;
}

.pricing-card-price {
  font-size: 0.8rem;
  margin: 2rem 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.pricing-card-body i {
  font-size: 0.6rem;
  margin-right: 0.5rem;
}

.pricing-card-body ul {
  margin-bottom: 2rem;
}

.pricing-card-body p:nth-child(1) {
  margin-bottom: 0.75rem;
}

/* ############# */
/* FAQ */
/* ############# */

.faq {
  padding: 3rem 0;
}

.faq-menu.flex {
  justify-content: center;
}
.faq .faq-menu {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: #ddd;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
}

.faq-menu li {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 0.8rem;
}
.faq-menu li.active {
  background: var(--primary-color);
  color: #fff;
}

details {
  margin: 0.5rem 0;
  padding-bottom: 1rem;
}

details:nth-child(1) {
  border-bottom: 1px solid #131316;
}

details:not(:nth-child(1)) {
  border-bottom: 1px solid #ccc;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  font-weight: 800;
  padding: 1rem 0;
}

details summary::after {
  content: "-";
  transition: 0.4s ease all;
}

details[open] > summary::after {
  content: "+";
}

/* Footer */
.main-footer {
  padding: 4rem 0 2rem;
}

.main-footer .card {
  margin: 1.5rem auto;
}

.main-footer .card p {
  font-size: 0.8rem;
  margin: 1rem 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main-footer h4 {
  margin-bottom: 1rem;
}

.main-footer li {
  line-height: 2;
}

.main-footer a {
  color: #ccc;
}

.main-footer i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.main-footer form {
  display: flex;
}

.main-footer input[type="email"] {
  display: inline;
  padding: 0.75rem 1.5rem;
  outline: none;
  border: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .text-xl {
    font-size: 3vw;
  }

  .text-lg {
    font-size: 2.5vw;
  }

  .text-md {
    font-size: 2vw;
  }

  /* header */
  .main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: none;
  }

  .menu-desktop {
    display: inline-flex;
  }

  /* hero */
  .hero .container {
    background: url("../images/hero-bg.png") no-repeat center bottom/contain;
    height: 550px;
    margin-bottom: 2rem;
  }

  .hero-heading,
  .hero-text {
    padding: 0;
  }

  .hero-content,
  .hero-text {
    max-width: 70%;
    text-align: left;
  }

  .hero-buttons .btn {
    margin-right: 1rem;
  }
  .hero-buttons.flex {
    flex-direction: row;
    justify-content: flex-start;
  }

  .hero-mobile {
    display: none;
  }

  /* video */
  .video-heading {
    max-width: 600px;
    margin: 0 auto 1.5rem;
  }
  .video-content {
    align-items: center;
  }

  /* testimonials */
  .testimonials-heading {
    margin-bottom: 4rem;
  }
  .card .card-text {
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

  .card p:nth-child(2) {
    font-size: 1.125rem;
  }

  /* pricing */
  .pricing-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    align-items: center;
  }

  /* FAQ */
  .faq .faq-menu {
    margin-bottom: 3rem;
  }
  .faq-menu li {
    font-size: 1rem;
  }

  /* footer */
  .main-footer .card p {
    font-size: 0.9rem;
  }

  .footer-grid {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}
